.asides{
  background-color: black;
  height: 100vh;
  width: 17vw;
  content: ' ';
  display: grid;
  grid-template: 
  "top" 2fr
  "bottom" 1fr
  ;
}

.asides.-logo{
  height: 40px;
  max-width: 131px;
  width: 100%;
}

.asides.-top{
  grid-area: top;
}
.asides.-bottom{
  grid-area: bottom;
}


